/* 

CSS declarations are grouped in the following order:

Positioning - position, top, left
Box-model - display, width, height
Typography - font, text-align
Visual - background-color, border
Misc - opacity

*/

.container {
    max-width: 120rem;  // 1200px - if screen smaller than 1200px will occupy 100%
    min-height: 50rem;
    
    margin: 8rem auto;

    background-color: var(--color-grey-light-1);
    box-shadow: var(--shadow-dark);
}

.header {
    height: 7rem;

    /* Flexbox container for logo, search, user-nav */ 
    display: flex;
    justify-content: space-between; // Align horizontally - Divide space between elements
    align-items: center;    // Align vertically

    font-size: 1.4rem;    // Override default font-size of 1rem (10px) for header

    border-bottom: var(--color-grey-light-2); // TODO - examine what this does
    
    background-color: #fff;
}

.content {
    display: flex;
}

.sidebar {
    /* Flex with hotel-view */
    flex: 0 0 18%;  // Shorthand for flex property - flex-grow (0), flex-shrink (0), flex-basis (18%)
    
    /* Flexbox container for menu items */
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: var(--color-grey-dark-1);
}

.hotel-view {
    // FOR TESTING
    flex: 1;
    height: 80rem;
    // background-color: orangered;
}