/* 

CSS declarations are grouped in the following order:

Positioning - position, top, left
Box-model - display, width, height
Typography - font, text-align
Visual - background-color, border
Misc - opacity

*/

.container {
    max-width: 120rem;  // 1200px - if screen smaller than 1200px will occupy 100%
    min-height: 50rem;
    
    margin: 8rem auto;

    background-color: var(--color-grey-light-1);
    box-shadow: var(--shadow-dark);

    // 1200px
    @media only screen and (max-width: $breakpoint-largest) {
        margin: 0;  // Remove pink border

        // In _base.scss, we decreased font-size to 8px (50%), which then changes our .container's max-width above at this breakpoint or smaller
        // because 120rem because 120*8=960px instead of 1200px, making a space to the right
        max-width: 100%;    // Fix pink space to right
        width: 100%;    // Just be 100% sure :)
    }
}

.header {
    height: 7rem;

    /* Flexbox container for logo, search, user-nav */ 
    display: flex;
    justify-content: space-between; // Align horizontally - Divide space between elements
    align-items: center;    // Align vertically

    font-size: 1.4rem;    // Override default font-size of 1rem (10px) for header

    border-bottom: var(--line);
    
    background-color: #fff;

    @media only screen and (max-width: $breakpoint-smallest) {
        flex-wrap: wrap;    // Wrap items to next line if there's not enough space
        
        // align-content controls alignment of rows within flex container
        align-content: center;  // Center content on mobile and add margin-top to search

        height: 11rem;

    }
}

.content {
    /* Create flex container for .sidebar and .hotel-view */
    display: flex;

    @media only screen and (max-width: $breakpoint-medium) {
        flex-direction: column; // At 900px, put .sidebar on top of .hotel-view
    }
}

.sidebar {
    /* Flex with .hotel-view */
    flex: 0 0 18%;  // Shorthand for flex property - flex-grow (0), flex-shrink (0), flex-basis (18%)
    
    /* Flexbox container for menu items */
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: var(--color-grey-dark-1);
}

.hotel-view {
    /* Flex with .side-bar */
    flex: 1;

    // FOR TESTING
    // background-color: orangered;
}

/* Overall Hotel Details container */
.detail {
    /* Flexbox to put .description and .user-reviews side by side */
    display: flex;
    padding: 4.5rem;

    font-size: 1.4rem;

    background-color: var(--color-grey-light-2);
    border-bottom: var(--line);

    @media only screen and (max-width: $breakpoint-medium) {
        padding: 3rem; // Decrease padding to increase space
    }

    // Remember to put smaller breakpoint so that both apply at small
    @media only screen and (max-width: $breakpoint-small) {
        flex-direction: column; // Change boxes to stack on small
    }
}

/* Hotel Description box */
.description {
    // Don't want it to grow or shrink. Usually set 0 0 if using %
    flex: 0 0 60%;  
    margin-right: 4.5rem;   // Create space between boxes
    padding: 3rem;
    
    background-color: #fff;
    box-shadow: var(--shadow-light);

    @media only screen and (max-width: $breakpoint-medium) {
        margin-right: 3rem;
        padding: 2rem; // Decrease padding to increase space
    }

    @media only screen and (max-width: $breakpoint-small) {
        margin-right: 0;
        margin-bottom: 3rem;
    }
}

.user-reviews {
    flex: 1;

    /* Create flex contaimer for containers */
    display: flex;
    flex-direction: column;
    align-items: center;
}