/* 

CSS declarations are grouped in the following order:

Positioning - position, top, left
Box-model - display, width, height
Typography - font, text-align
Visual - background-color, border
Misc - opacity

*/


// || LOGO
//--------------------------------------
.logo {
    margin-left: 2rem;
    height: 3.25rem;
}


// || SEARCH
//--------------------------------------
.search {
    /* .search is child flex item from parent .header flex container */
    flex: 0 0 40%; // TODO - Why not use width: 40%?

    /* Then create flex container out of .search for .search's children */
    display: flex;
    justify-content: center;    // Center horizontally
    align-items: center;    // Center vertically

    // background-color: orangered;  // Used for visual development only

    @media only screen and (max-width: $breakpoint-smallest) {
        order: 1;   // By default, elements are order: 0, so we make search last
        
        // Make search bar full width
        // Width of element should be 100%, shouldn't grow or shrink
        flex: 0 0 100%; 

        background-color: var(--color-grey-light-2);
        // Put bg color on entire search instead of only input
    }

    &__input {
        margin-right: -3.25rem;  // This moves search icon on top of input
        padding: .7rem 2rem;
        width: 90%;
        
        // Set to inherit since input elements don't inherit from global font
        color: inherit;
        font-family: inherit; 
        font-size: inherit;

        background-color: var(--color-grey-light-2);
        border: none;
        border-radius: 100px;

        transition: all .2s .1s;

        &:focus {
            width: 100%;    // Increase width on focus 

            background-color: var(--color-grey-light-3);
            
            outline: none;  // Remove default browser outline
        }

        // This only works in Chrome & Safari right now
        &::-webkit-input-placeholder {
            color: var(--color-grey-dark-3);
            font-weight: 100;
        }
    }

    // Selector is for adjacent siblings <__input> and <__button>
    // Make icon the same background as input. Otherwise, it is lighter
    &__input:focus + 
    &__button { 
        background-color: var(--color-grey-light-3); 
    }

    &__button {
        background-color: var(--color-grey-light-2);
        border: none;

        &:focus {
            outline: none;  // Remove outline on focus
        }

        &:active {
            transform: translateY(2px); // Move icon when clicked on for press effect
        }
    }

    &__icon {
        height: 2rem;
        width: 2rem;

        fill: var(--color-grey-dark-3); // Set color of svgs using fill
    }
}



// || USER NAVIGATION
//--------------------------------------
.user-nav {
    /* Flex for user-nav child items */
    display: flex;
    align-items: center;    // Align vertically
    align-self: stretch;    // Stretch from top to bottom of header

    // background-color: yellowgreen;  // Used for visual development only
    
    // Select .user-nav and all direct children in .user-nav
    & > * {
        display: flex;
        align-items: center;    // Align vertically

        padding: 0 2rem;
        height: 100%;   // Fill entire user-nav
        
        // cursor: pointer;     // Recommended in course, but I've changed to ahref in HTML
    }

    & > *:hover {
        background-color: var(--color-grey-light-2);    // Grey hover effect
    }

    a {
        text-decoration: none;
        color: currentColor;
    }

    &__icon-box {
        position: relative;

        margin-top: 1rem;
    }
    
    &__icon {        
        height: 2.25rem;
        width: 2.25rem;

        fill: var(--color-grey-dark-2);
    }

    &__notification {
        position: absolute;
        top: -1rem;
        right: -.75rem;

        display: flex;
        justify-content: center;
        align-items: center;

        height: 1.75rem;
        width: 1.75rem;

        color: #fff;
        font-size: .8rem;
        
        background-color: var(--color-primary);
        border-radius: 100px;   // 13 comment not perfectly circular
    }

    &__user {
        display: flex;
        align-items: center;
    }

    &__user-photo {
        margin-right: 1rem;
        height: 3.75rem; 
        border-radius: 50%;
    }

    &__user-photo {

    }
}